<div class = "container mt-top-4">
  <div class = "d-flex justify-content-left">
    <h1>Login</h1>
  </div>
    <div class = "row">
      <div class = "col-sm-6">
     </div>
     <div></div>
       <div class ="col-sm-3">
          <button [routerLink]="['/employee']" style="background-color:lightseagreen;" type="button"  class="btn  btn-block mb-3" >Employee</button>
      </div>
      <div class ="col-sm-3">
        <button [routerLink]="['/Admin']" style="background-color:lightseagreen;" type="button"  class="btn  btn-block mb-3" >Admin</button>
      </div>

      </div>
      <form [formGroup]="myFormGroup"  (ngSubmit)="login1()">
          <div class=" row form-group">
             <label for="UserName" class="col-sm-3">UserName</label>
               <div class="col-sm-3">
                  <input type="text" #txtLogin name="uname" [formControl]="myFormGroup.controls['username']" class="form-control form-control-sm" placeholder="Enter username" required>
              </div>
             <div class="col-sm-6">
             </div>
          </div>
         <div class="form-group row">
              <label class="col-sm-3">Password</label>
                <div class="col-sm-3">
                    <input type="text" #txtPass name="ped" [formControl]="myFormGroup.controls['Password']" class="form-control form-control-sm"  placeholder="Enter Password" required>
                </div>
              <div class="col-sm-6"></div>
         </div>
         <div class="form-group row">
              <div class="offset-3 col-sm-9 mt-4">
                  <input type="submit" class="form-control form-control-sm btn w-25" style="background-color:lightseagreen;" value="submit" >
              </div>
          </div>
      </form>
  </div>


